*{
    transition:all 0.75s ease;
}
label,input,button,table,td,th{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight:300;
    font-size:1.06em;
}
h2{
    border:2px solid black;
    width:300px;
    text-align:center;
    padding:5px;
    border-radius:10px;
    color:gray;
    white-space:nowrap;
    opacity:0;
    transition:opacity 0.5s ease;
}
#tablecontainer{
    margin-top:15%;
    position:relative;
    z-index:0.1;
    max-height:400px;
    overflow-y:scroll;
    scrollbar-color:black lightgray;
    border:4px solid black;
    border-radius:10px;
    box-shadow:2px 15px 10px 1px darkgray;
}
table{
    position:relative;
    border-collapse:collapse;
    box-sizing:border-box;
    width:100%;
    display:table;
    border:2px solid black;
}
#header{
    width:100%;
    border:2px black;
    border-width:100px;
    background-color:green;
    color:white;
    font-size:200%;
    position:relative;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
}
tr{
    border:2px solid #000;
    border-radius:10px;
    transition:background-color 1s ease, opacity 1.5s ease, transform 1s ease;
}
tr:not(#header){
    transform:translateY(-100%);
    opacity:0%;
    font-size:1.5em;
    padding:3.5%;
    cursor:pointer;
    pointer-events:none;
}
tr:not(#header).show{
    opacity:100%;
    transform: translateY(0); 
    pointer-events:auto;
}
td{
    position:relative;
}
td, th {
    width: 25%;
    text-align: center;
    padding:5px;
}
tr:nth-child(odd) {
    background-color: gainsboro;
}
#container{
    background-color:transparent;
    display:flex;
    flex-flow:row;
    justify-content:center;
    align-items:center;
    position:relative;
    margin-top:120px;
    width:100%;
    height:500px;
    margin-bottom:20px;
    bottom:100px
}
form{
    display:flex;
    justify-content:center;
    display:none;
    opacity:0%;
    transition:opacity 1s ease;
    width:100%;
    flex-direction:column;
    align-items:center;
    gap:10px;
}
button{
    background-color:green;
    border-radius:10px;
    color:white;
    font-size:1.25em;
    align-items:center;
    cursor:pointer;
}
.delete-btn{
    position:absolute;
    display:flex;
    right:3%;
    top:25%;
    font-size:0.5em;
    background-color:darkred;
    border-radius:100%;
    z-index:100;
}
#submit{
    width:100%;
    padding:5px;
    border-radius:10px;
    border:2px solid black;
    cursor:pointer;
}
#x{
    z-index:10;
    font-family:Arial;
    display:flex;
    justify-content:center;
    text-align:center;
    height:15px;
    width:15px;
    border:2px solid black;
    border-radius:50%;
    background-color:gray;
    cursor:pointer;
}
#addRow{
    display:block;
    border:3px solid black;
    cursor:pointer;
    position:absolute;
    padding:1%;
    transition:background-color 1s ease, opacity 1s ease;
}
#addRow:hover{
    background-color:darkgreen;
}
input{
    border-radius:10px;
    border:2px solid black;
    padding:5px;
    width:100%;
    font-size:1.25em;
}
ul, h3{
    position:relative;
    bottom:250px;
    font-size:x-large;
    font-family:"Fira Mono", "Courier New", Courier, monospace;
}
li{
    display:flex;
    text-align:center;
    margin-bottom:10px;
}
.color{
    display:inline-block;
    box-sizing:border-box;
    border:2px solid black;
    width:23px;
    height:23px;
    padding:5px;
    margin-right:5px;
}
#red{
    background-color:#FF4D4D;
    box-shadow:-3px 3px 4px 2px red
}
#yellow{
    background-color:yellow;
    box-shadow:-3px 3px 4px 2px lightsalmon;
}
#green{
    background-color:lime;
    box-shadow:-3px 3px 4px 2px green;
}
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    text-align:center;
    font-size:0.75em;
    color:gray;
}
#blink{
    animation:blink 1s infinite;
}
@keyframes blink{
    0%,100%{
        opacity:1;
    }
    50%{
        opacity:0;
    }
}