nav{
    position:fixed;
    border:3px solid gray;
    box-shadow:0px 0px 10px 5px gray;
    width:100%;
    height:50px;
    top:0;
    left:0;
    background-color:white;
    z-index:1;
}
#settings{
    display:flex;
    align-items:center;
    gap:10px;
    border:1px solid black;
    height:100%;
    aspect-ratio: 1/1;
    background-color:whitesmoke;
    background-image:url("settings-3110.png");
    background-size:cover;
}
#settingscontainer{
    position:absolute;
    border:1px solid black;
    width:fit-content;
    height:300%;
    z-index:100;
    background-color:gainsboro;
    border-radius:10px;
    transform:translateY(-150%);
    opacity:0;
    transition:transform 1s ease-in-out, opacity 1.25s ease-in-out;

}
#nightmodebutton{
    display:flex;
    margin-top:0.5em;
    width:90px;
    height:30px;
    border:1px solid black;
    border-radius:30px;
    background-color:lightgray;
    transition:background-color 2s ease;
    cursor:pointer;
}
h4{
    margin:0;
    position:relative;
    bottom:2.5px;
    font-size:1.25em;
    color:black;
    font-family:"inter", sans-serif;
    box-shadow:0px 5px 25px 2px gray;
    border-radius:50px;

}
#circle{
    display:flex;
    position:relative;
    bottom:2.5px;
    height:34px;
    width:34px;
    border:2px solid black;
    border-radius:100%;
    background-color:white;
    transition:transform 0.5s ease-in-out
}
